@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primaryColor: #ff725e;
  --secondaryColor: #ff9a6c;
  --darkColor: #263238;
  --ligthColor: #fff;
  --footer-bg: rgba(255, 154, 108, 0.25);
}
html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  scroll-behavior: smooth;
}

body {
  color: var(--darkColor);
}

header {
  background-color: var(--secondaryColor);
  padding: 24px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu {
  display: flex;
  gap: 60px;
  padding: 5px;
}

header .menu a {
  color: var(--ligthColor);
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

h1,
h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 32px;
}

#inicio {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 24px 80px 128px;
  position: relative;
}

.paragrafo {
  line-height: 150%;
  margin-bottom: 32px;
}

.btns {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 30px;
}

.btns .btn {
  background-color: var(--primaryColor);
  border-radius: 8px;
  padding: 16px 32px;
  color: var(--ligthColor);
  text-decoration: none;
}

.btns .btn-transparent {
  color: var(--primaryColor);
  text-underline-offset: 4px;
  transition: color .1s linear;
  font-weight: 600;
}

.btns .btn-transparent:hover {
  color: var(--secondaryColor);
}

.shapeImg {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
}

#clinica {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}

#clinica ul li {
  margin: 0 0 16px 32px;
}

#farmacia {
  text-align: center;
  padding: 64px 80px;
}

#farmacia img {
  margin: 64px auto;
}

#farmacia .paragrafo {
  max-width: 950px;
  margin: 0 auto;
}

#duvidas {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}

#duvidas .duvida {
  position: relative;
}

#duvidas .duvida h3 {
  border: 2px solid var(--primaryColor);
  border-radius: 8px;
  cursor: pointer;
  padding: 24px 40px 24px 24px;
}

#duvidas .duvida img {
  position: absolute;
  top: 32px;
  right: 24px;
  transition: transform .3s linear;
  cursor: pointer;
}

#duvidas .duvida.active img {
  transform: rotate(180deg);
}

#duvidas .duvida .paragrafo {
  border-right: 1px solid var(--primaryColor);
  border-left: 1px solid var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
  border-radius: 0 0 8px 8px;
  margin-top: -8px;
  padding: 0 24px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: .2s linear;
}

#duvidas .duvida.active .paragrafo {
  height: fit-content;
  opacity: 1;
  padding: 24px;
  transition: .2s linear;
}


footer {
  background-color: var(--footer-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 64px 80px;
}

footer img,
footer .titles {
  font-weight: 600;
  margin-bottom: 24px;
  display: block;
}

footer nav a {
  color: var(--darkColor);
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
}

footer p {
  margin-bottom: 16px;
  max-width: 350px;
}
footer p a {
  color: var(--darkColor);
  text-decoration: none;
}

#copy {
  background-color: var(--darkColor);
  color: var(--ligthColor);
  text-align: center;
  padding: 24px;
}

#copy a {
  text-decoration: none;
  color: var(--primaryColor);
}

.scrolled {
  opacity: 0;
  transform: translateY(20px);
  animation: scroll-in 1.3s linear forwards;
}

@keyframes scroll-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.openNav {
  font-size: 30px;
  cursor: pointer;
  color: var(--ligthColor);
  display: none;
}

.mySidenavContainer {
    width: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: end;
    transition: 0.5s;
    overflow-x: hidden;
  }
  
.sidenav {
  height: 100%; 
  width: 200px;
  background-color: rgba(253, 138, 85, 0.9); 
  padding-top: 100px; 
  display: flex;
  flex-direction: column;
}
.sidenav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--ligthColor);
  transition: 0.3s;
  margin: 0 0 30px 20px;
  width: fit-content;
}

.sidenav a:hover {
  color: var(--darkColor);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}